
@{
    ViewBag.Title = "_PasswordConfirmation";
}
<style>
    body {
        background: url(../Content/img/oca-top-bg.png) top left no-repeat;
    }

    .body-content {
        background: url(../Content/img/footer-bg.png) bottom right no-repeat;
    }
</style><div class="container">
    <div class="change_password text-center">

        <h3>Password changes successfuly !!</h3>
        <h4>
            Please log on to the system
            @* @Html.ActionLink("Login", "Login", "Participant", routeValues: null, htmlAttributes: new { title = "Login" })*@

        </h4>
    </div>
</div>
