
@{
    ViewBag.Title = "Error";
}




<style>
    body {
        background: url(../Content/img/oca-top-bg.png) top left no-repeat;
    }
</style>
<div class="container">

    <div class="wrap-login text-center">

        <section id="loginForm">
            <h2>Please try after some time</h2>
        </section>
    </div>
</div>

