@model string
@{
    ViewBag.Title = "UnAuthorized";
}




<style>
    body {
        background: url(../Content/img/oca-top-bg.png) top left no-repeat;
    }

</style>
<div class="container">

    <div class="wrap-login text-center">
        
        <section id="loginForm">
            <h2>@Model</h2>
        </section>
    </div>
</div>

