@{
    ViewBag.Title = "Dashboard";
}


<h2>Olympic Council Of Asia</h2>
@*<span id="Userlogindate" style="display:none" >@ViewBag.logindate</span>*@

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        //$(document).ready(function () {
        //    var Userlogindate = $("#Userlogindate").text();
        //    $("#logindate").html(" Last login :" + Userlogindate);
        //});
    </script>
}
