@{
    ViewBag.Title = "Password Reset";
    string Code = ViewBag.Code;
    string UserId = ViewBag.UserId;
}

<div class="login-page">
    <div class="login-wrapper">
        @using (Ajax.BeginForm("PasswordReset", "Account", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msgUpdate", LoadingElementId = "LoadingID", OnComplete = "Close()" }, new { @class = "" }))
        {
            @Html.Hidden("uid", null, new { @Value = UserId })
            @Html.Hidden("rt", null, new { @Value = Code })
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="controls">
                    <div id="msgUpdate"></div>
                </div>
            </div>
            <h1>Password Reset</h1>
            <hr />
            <div class="form-group">
                <div class="controls">
                    <label class="control-label">New Password </label>
                    <input type="password" id="password" name="password" class="form-control" autofocus="autofocus" placeholder="Password" required="required" />
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <label class="control-label">Confirm Password </label>
                    <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" autofocus="autofocus" placeholder="Confirm Password" required="required" />
                </div>
            </div>

            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </div>
            </div>

        }

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#navbar").hide();
        $("body").addClass("modal-open", "");
        Close = function () {
            $("#password").val('');
            $("#confirmpassword").val('');
            setTimeout('$(".autohide").hide()', 5000);
        };
    </script>
}
